
body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}

@keyframes hide-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}