.size{
    height: 354.047px;
    width: 100%;
}

.card-text{
    height: 96px;    
}

.table-about{
    border: 5px solid rgb(94, 93, 92); 
}

.table-formation{
    padding: 10px;
    background-color: rgb(225, 223, 220);
    border: 1px solid rgb(94, 93, 92);
    list-style: none;
}

.table-formation-th{
    background-color: black;
    padding: 10px;
    border: 1px solid rgb(94, 93, 92);
    list-style: none;
}

.fett{
    font-weight: bold;
}

.list-style-none{
    list-style: none;
}

.firmen-picture{
    height: auto;
    width: 100%;
}

.table-formation ul{
    list-style: none;
    padding: 0px;
}

.firmen{
    align-items: center;
}