body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0px 60px;
}

img {
  width: 100%;
  height: auto;
}

header {
  background-color: rgba(44, 44, 44, 0.448);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: 120px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  width: auto;
}

main {
  margin-top: 160px;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.row {
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
}

.col {
  flex: 1;
}

@media only screen and (max-width: 900px) {
  body {
    padding: 0px 10px;
  }

  .row {
    flex-direction: column;
  }

  aside {
    display: none;
  }
}
