header {
    border-bottom: 1px solid silver;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f8f9fa;
}

.logo {
    height: 100%;
    width: auto;
}


img {
    width: 100%;
    height: auto;
}

section {
    display: flex;
    gap: 20px;
}

.img-container {
    flex: 1
}

@media only screen and (max-width: 600px) {
  section {
    flex-direction: column;
  }
}