html {
  display: flex;
  justify-content: center;
}

body {
  background-color: rgb(252, 252, 252);
  margin: 0;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1600px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.09);
}

header {
  background-color: white;
  padding: 20px 80px;
}

a {
  color: black;
}

img {
  width: 100%;
}

.logo {
  height: 60px;
}

nav {
  padding: 20px 0px;
  display: flex;
  gap: 40px;
}

.audiobooks {
  margin-left: auto;
}

header .top {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

input {
  border-radius: 14px;
  padding: 10px 10px !important;
  flex: 1;
  max-width: 600px;
  height: fit-content;
}

.cart {
  width: 60px;
  height: 60px;
  background-color: rgb(160, 160, 160);
}

section {
  padding: 80px;
}

.banner {
  display: flex;
  gap: 40px;
}

.banner div {
  flex: 1;
}

button {
  background-color: blue;
  color: white;
  padding: 14px;
  border: none;
}

.bg-blue {
  background-color: rgb(228, 237, 243);
}

#banner {
  font-style: italic;
}

.flex-row {
  display: flex;
  gap: 40px;
}

.card {
  background-color: white;
  padding: 20px;
  font-size: 16px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.081);
  border-radius: 4px;
}
.card h2 {
  font-size: 20px;
}

.flex-2 {
  flex: 2;
}
