body {
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(245, 246, 247);
    border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);
    /* border: 1px solid white; */
}

input {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.071);
}

button {
    background-color: rgb(42, 92, 229);
    padding: 10px;
    border-radius: 4px;
    color: white;
    border: none;
    box-shadow: 0px 4px 10px 0px rgba(42, 92, 229, 0.376);
    cursor: pointer;
}

button:hover {
    background-color: rgb(36, 81, 205);
}

.delete {
    width: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}

li {
    margin: 5px 0px;
    display: flex;
    gap: 20px;
    padding: 5px 0px;
    /* background-color: white; */
}