@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;400;500&display=swap');

body {
    font-family: 'Unbounded', cursive;
    font-weight: 100;
    color: rgb(72, 61, 53);
    /* background-image: url(./images/hi-estudio-YAO3xrPMIdw-unsplash.jpg);
    background-size: cover; */
}

a {
    text-decoration: none;
    color: rgb(72, 61, 53);
}

.logo {
    height: 80px;
    width: auto;
    margin: 0;
}

.logo-text {
    font-weight: 400;
    color: rgb(72, 61, 53);
}

img {
    width: 100%;
    margin-bottom: 20px;
}

.carousel img {
    height: 300px;
    object-fit: cover;
    filter: brightness(0.6);
}

.card img {
    aspect-ratio: 2/1;
    object-fit: cover;
}

.card {
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .logo {
        height: 60px;
    }
}