body {
    background-color: rgb(17, 167, 17);
}

#mole {
    width: 200px;
    position: absolute;
    z-index: 100;
    top: 100px;
    left: 100px;
}

.hole {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: saddlebrown;
    border-radius: 100px;
}

#hole-1 {
    top: 100px;
    left: 100px;
}
#hole-2 {
    top: 100px;
    left: 500px;
}
#hole-3 {
    top: 100px;
    left: 900px;
}
#hole-4 {
    top: 500px;
    left: 100px;
}
#hole-5 {
    top: 500px;
    left: 500px;
}
#hole-6 {
    top: 500px;
    left: 900px;
}