
body {
    margin: 0px;
    background-color: rgb(24, 24, 24);
    color: white;
}

nav {
    height: 80px;
}

main {
    padding: 0px 60px;
}

.row {
    width: 100%;
    display: flex;
    gap: 20px;
}

.column {
    width: 25%;
    max-width: 25%;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.thumbnail {
    width: 100%;
}