body {
  margin: 0;
}

header {
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
  color: rgb(194, 194, 194);
}

nav a:hover {
  color: white;
}

main {
  padding: 20px;
}