


.box {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    transition: 0.3s;
}

.background-blue {
   background-color: blue; 
}

.background-red {
   background-color: red; 
}

.border-green {
    border: 10px solid green;
}

.border-blue {
    border: 10px solid rgb(0, 60, 255);
}

.border-dotted {
    border-style: dotted;
}

.text-white {
    color: white;
}

.hover-blue:hover {
    background-color: blue;
}

.hover:hover {
    transform: scale(1.1);
}

.radius {
    border-radius: 20px;
}

