body {
  background-color: azure;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
  width: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: rgb(93, 93, 93);
}

nav a:hover {
  color: black;
}

.banner img {
  width: 100%;
  height: auto;
}

.banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
}
